#contactUs{
	padding: .575rem .3rem;
}
.posiBtns{
	width: 100%;
}
.posiBtns span{
	display: block;
	width: 4.925rem;
	height: 2.4rem;
	border: 1px #d5d5d5 solid;
	text-align: center;
	line-height: 2.4rem;
	color: #2f2f2f;
	font-size: .6rem;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: .3rem;
}
.posiBtns span:nth-child(2),.posiBtns span:nth-child(5){
	margin: 0 .3rem .3rem;
}
.posiBtns .selected{
	background: url(../images/selectedBg.png) top no-repeat;
	background-size: contain;
	border-color: #2b548f;
	color: #2b548f;
}
.addressBox{
	width: 100%;
	background: #fff;
	margin-top: .9rem;
}
.addressList{
	position: relative;
	height: 20rem;
}
.addressList li{
	position: absolute;
	display: none;
}
.addressList li h3{
	text-align: center;
	font-size: .75rem;
	color: #2f2f2f;
	background: url(../images/addressLine.png) bottom no-repeat;
	background-size: contain;
	padding-bottom: .9rem;
	margin-bottom: .9rem;
}
.addressList li .map{
	width: 15.4rem;
	height: 8.65rem;
	margin: 0 auto;
}
.addressInfo{
	width: 100%;
	height: 2.6rem;
	margin: 1rem 0;
}
.addressIcon{
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.25rem;
	border: 1px #b1b1b1 solid;
	margin-right: .55rem;
}
.posiIcon{
	background: url(../images/posi_icon.png) center no-repeat;
	background-size: 1.075rem;
}
.telIcon{
	background: url(../images/tel_icon.png) center no-repeat;
	background-size: 1.175rem;
}
.addressInfo p{
	color: #2a4f88;
	font-size: .6rem;
	line-height: 1rem;
}
.addressList .show{
	display: block;
}
